In [2]:
# Import libraries
import numpy as np 
import pandas as pd 
import os
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

**Load the data from csv files**

In [3]:
books = pd.read_csv('../data/books.csv', encoding = "ISO-8859-1")
books.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [4]:
books.shape

(10000, 23)

In [5]:
books.columns

Index(['id', 'book_id', 'best_book_id', 'work_id', 'books_count', 'isbn',
       'isbn13', 'authors', 'original_publication_year', 'original_title',
       'title', 'language_code', 'average_rating', 'ratings_count',
       'work_ratings_count', 'work_text_reviews_count', 'ratings_1',
       'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url',
       'small_image_url'],
      dtype='object')

In [6]:
ratings = pd.read_csv('../data/ratings.csv', encoding = "ISO-8859-1")
ratings.head()

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [7]:
book_tags = pd.read_csv('../data/book_tags.csv', encoding = "ISO-8859-1")
book_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [8]:
tags = pd.read_csv('../data/tags.csv')
tags.tail()

       tag_id    tag_name
34247   34247   Ｃhildrens
34248   34248   Ｆａｖｏｒｉｔｅｓ
34249   34249       Ｍａｎｇａ
34250   34250      ＳＥＲＩＥＳ
34251   34251  ｆａｖｏｕｒｉｔｅｓ

In [12]:
tags_join_DF = pd.merge(book_tags, tags, left_on='tag_id', right_on='tag_id', how='inner')
tags_join_DF.head()

   goodreads_book_id  tag_id   count tag_name
0                  1   30574  167697  to-read
1                  2   30574   24549  to-read
2                  3   30574  496107  to-read
3                  5   30574   11909  to-read
4                  6   30574     298  to-read

In [13]:
to_read = pd.read_csv('../data/to_read.csv')
to_read.head()

   user_id  book_id
0        1      112
1        1      235
2        1      533
3        1     1198
4        1     1874

**TfidfVectorizer** function from scikit-learn, which transforms** text to feature vectors** that can be used as input to estimator.

 **Cosine Similarity** to calculate a numeric value that denotes the similarity between two books.

In [16]:
books

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [17]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(books['authors'])
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [18]:
cosine_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

A function that returns the 20 most similar books based on the cosine similarity score.

In [19]:
# Build a 1-dimensional array with book titles
titles = books['title']
indices = pd.Series(books.index, index=books['title'])

# Function that get book recommendations based on the cosine similarity score of book authors
def authors_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:101]
    book_indices = [i[0] for i in sim_scores]
    return titles.iloc[book_indices]

In [20]:
authors_recommendations('The Hobbit').head(50)

18      The Fellowship of the Ring (The Lord of the Ri...
154            The Two Towers (The Lord of the Rings, #2)
160     The Return of the King (The Lord of the Rings,...
188     The Lord of the Rings (The Lord of the Rings, ...
963     J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...
4975        Unfinished Tales of NÃºmenor and Middle-Earth
2308                               The Children of HÃºrin
610              The Silmarillion (Middle-Earth Universe)
8271                   The Complete Guide to Middle-Earth
1128     The History of the Hobbit, Part One: Mr. Baggins
465                             The Hobbit: Graphic Novel
0                 The Hunger Games (The Hunger Games, #1)
1       Harry Potter and the Sorcerer's Stone (Harry P...
2                                 Twilight (Twilight, #1)
3                                   To Kill a Mockingbird
4                                        The Great Gatsby
5                                  The Fault in Our Stars
7                                  The Catcher in the Rye
8                   Angels & Demons  (Robert Langdon, #1)
9                                     Pride and Prejudice
10                                        The Kite Runner
11                              Divergent (Divergent, #1)
12                                                   1984
13                                            Animal Farm
14                              The Diary of a Young Girl
15       The Girl with the Dragon Tattoo (Millennium, #1)
16                   Catching Fire (The Hunger Games, #2)
17      Harry Potter and the Prisoner of Azkaban (Harr...
19                      Mockingjay (The Hunger Games, #3)
20      Harry Potter and the Order of the Phoenix (Har...
21                                       The Lovely Bones
22      Harry Potter and the Chamber of Secrets (Harry...
23      Harry Potter and the Goblet of Fire (Harry Pot...
24      Harry Potter and the Deathly Hallows (Harry Po...
25                 The Da Vinci Code (Robert Langdon, #2)
26      Harry Potter and the Half-Blood Prince (Harry ...
27                                      Lord of the Flies
28                                       Romeo and Juliet
29                                              Gone Girl
30                                               The Help
31                                        Of Mice and Men
32                                    Memoirs of a Geisha
33                Fifty Shades of Grey (Fifty Shades, #1)
34                                          The Alchemist
35                              The Giver (The Giver, #1)
36      The Lion, the Witch, and the Wardrobe (Chronic...
37                               The Time Traveler's Wife
38         A Game of Thrones (A Song of Ice and Fire, #1)
39                                        Eat, Pray, Love
40      The Lightning Thief (Percy Jackson and the Oly...
Name: title, dtype: object

Recommend books using the tags provided to the books.

In [21]:
books_with_tags = pd.merge(books, tags_join_DF, left_on='book_id', right_on='goodreads_book_id', how='inner')

In [22]:
# books_with_tags[(books_with_tags.goodreads_book_id==18710190)]['tag_name']

In [23]:
tf1 = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix1 = tf1.fit_transform(books_with_tags['tag_name'].head(10000))
cosine_sim1 = linear_kernel(tfidf_matrix1, tfidf_matrix1)

In [24]:
books_with_tags

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,goodreads_book_id,tag_id,count,tag_name
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,30574,11314,to-read
1,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,11305,10836,fantasy
2,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,11557,50755,favorites
3,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,8717,35418,currently-reading
4,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,2767052,33114,25968,young-adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999907,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...,8914,16529,4,john-keegan
999908,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...,8914,32805,3,world-war
999909,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...,8914,32156,3,war-ww1
999910,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...,8914,20285,3,modern-european-history
999911,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...,8914,32915,3,wwi-general

In [25]:
cosine_sim1

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [26]:
# Build a 1-dimensional array with book titles
titles1 = books['title']
indices1 = pd.Series(books.index, index=books['title'])

# Function that get book recommendations based on the cosine similarity score of books tags
def tags_recommendations(title):
    idx = indices1[title]
    sim_scores = list(enumerate(cosine_sim1[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:101]
    book_indices = [i[0] for i in sim_scores]
    return titles.iloc[book_indices]

In [27]:
tags_recommendations('The Hobbit').head(50)

16                   Catching Fire (The Hunger Games, #2)
31                                        Of Mice and Men
107          Confessions of a Shopaholic (Shopaholic, #1)
125                             Dune (Dune Chronicles #1)
149                                          The Red Tent
206                One for the Money (Stephanie Plum, #1)
214                                      Ready Player One
231                   The Gunslinger (The Dark Tower, #1)
253                Shiver (The Wolves of Mercy Falls, #1)
313                               Inkheart (Inkworld, #1)
325                                        White Oleander
405        The New Drawing on the Right Side of the Brain
412                                  The Three Musketeers
425                               A Confederacy of Dunces
505                           The One (The Selection, #3)
513                     The Adventures of Sherlock Holmes
525                   Darkly Dreaming Dexter (Dexter, #1)
566                               The Language of Flowers
591                              The Master and Margarita
606     City of Heavenly Fire (The Mortal Instruments,...
620                  Are You There God? It's Me, Margaret
638                                                 Heidi
705                       Around the World in Eighty Days
713                                             King Lear
724                  The Waste Lands (The Dark Tower, #3)
805                 Wizard and Glass (The Dark Tower, #4)
814                                No Country for Old Men
824                    Shanghai Girls (Shanghai Girls #1)
904                     Cloudy With a Chance of Meatballs
911                Two for the Dough (Stephanie Plum, #2)
925                                   Luckiest Girl Alive
967                                     Cleopatra: A Life
1005    American Sniper: The Autobiography of the Most...
1012             Better Homes and Gardens New Cook Book
1023    The Sweetness at the Bottom of the Pie (Flavia...
1106                                   Little Earthquakes
1117                               Requiem (Delirium, #3)
1131                                The Amityville Horror
1171               The Opal Deception  (Artemis Fowl, #4)
1205              By the River Piedra I Sat Down and Wept
1212              Children of the Mind (Ender's Saga, #4)
1225                        Seven Up (Stephanie Plum, #7)
1305                                      The Silent Wife
1314                                             Blankets
1327                           I Am Pilgrim (Pilgrim, #1)
1414    The Lean Startup: How Today's Entrepreneurs Us...
1504            The Darkest Minds (The Darkest Minds, #1)
1512            Lover Mine (Black Dagger Brotherhood, #8)
1522                     Wither (The Chemical Garden, #1)
1605                   Ten Big Ones (Stephanie Plum, #10)
Name: title, dtype: object

Recommendation of books using the authors and tags attributes for better results.
Creating corpus of features and calculating the TF-IDF on the corpus of attributes for gettings better recommendations.

In [28]:
temp_df = books_with_tags.groupby('book_id')['tag_name'].apply(' '.join).reset_index()
temp_df.head()

   book_id                                           tag_name
0        1  to-read fantasy favorites currently-reading yo...
1        2  to-read fantasy favorites currently-reading yo...
2        3  to-read fantasy favorites currently-reading yo...
3        5  to-read fantasy favorites currently-reading yo...
4        6  to-read fantasy young-adult fiction harry-pott...

In [29]:
books = pd.merge(books, temp_df, left_on='book_id', right_on='book_id', how='inner')

In [30]:
books.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,tag_name
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,to-read fantasy favorites currently-reading yo...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,to-read fantasy favorites currently-reading yo...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,to-read fantasy favorites currently-reading yo...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,to-read favorites currently-reading young-adul...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,to-read favorites currently-reading young-adul...

In [33]:
books['tag_name'].head(10)

0    to-read fantasy favorites currently-reading yo...
1    to-read fantasy favorites currently-reading yo...
2    to-read fantasy favorites currently-reading yo...
3    to-read favorites currently-reading young-adul...
4    to-read favorites currently-reading young-adul...
5    to-read favorites currently-reading young-adul...
6    to-read fantasy favorites currently-reading yo...
7    to-read favorites currently-reading young-adul...
8    to-read fantasy favorites currently-reading fi...
9    to-read favorites young-adult fiction books-i-...
Name: tag_name, dtype: object

In [52]:
books['corpus'] = (pd.Series(books[['authors', 'tag_name']]
                .fillna('')
                .values.tolist()
                ).str.join(' '))

In [56]:
tf_corpus = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix_corpus = tf_corpus.fit_transform(books['corpus'])
cosine_sim_corpus = linear_kernel(tfidf_matrix_corpus, tfidf_matrix_corpus)

# Build a 1-dimensional array with book titles
titles = books['title']
indices = pd.Series(books.index, index=books['title'])

# Function that get book recommendations based on the cosine similarity score of books tags
def corpus_recommendations(title):
    idx = indices1[title]
    sim_scores = list(enumerate(cosine_sim_corpus[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:101]
    book_indices = [i[0] for i in sim_scores]
    return titles.iloc[book_indices]

corpus_recommendations("The Hobbit").head(50)

188     The Lord of the Rings (The Lord of the Rings, ...
154            The Two Towers (The Lord of the Rings, #2)
160     The Return of the King (The Lord of the Rings,...
18      The Fellowship of the Ring (The Lord of the Ri...
610              The Silmarillion (Middle-Earth Universe)
4975        Unfinished Tales of NÃºmenor and Middle-Earth
2308                               The Children of HÃºrin
963     J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...
465                             The Hobbit: Graphic Novel
8271                   The Complete Guide to Middle-Earth
1366    The Once and Future King (The Once and Future ...
1321              The Last Unicorn (The Last Unicorn, #1)
53      The Hitchhiker's Guide to the Galaxy (Hitchhik...
367             The Subtle Knife (His Dark Materials, #2)
61            The Golden Compass (His Dark Materials, #1)
479           The Amber Spyglass (His Dark Materials, #3)
936          His Dark Materials (His Dark Materials #1-3)
331      The Magician's Nephew (Chronicles of Narnia, #6)
592             A Wizard of Earthsea (Earthsea Cycle, #1)
36      The Lion, the Witch, and the Wardrobe (Chronic...
218     The Chronicles of Narnia (Chronicles of Narnia...
1203                                    The Invisible Man
116     A Wrinkle in Time (A Wrinkle in Time Quintet, #1)
2124    The Book of Three (The Chronicles of Prydain, #1)
1692                 Pawn of Prophecy (The Belgariad, #1)
2953                           The Blue Sword (Damar, #1)
1258                              Abhorsen (Abhorsen, #3)
1349                                Lirael (Abhorsen, #2)
109        A Clash of Kings  (A Song of Ice and Fire, #2)
2197                 Queen of Sorcery (The Belgariad, #2)
1462             Enchanters' End Game (The Belgariad, #5)
3062          The Dark Is Rising (The Dark is Rising, #2)
816       Howl's Moving Castle (Howl's Moving Castle, #1)
948               The Fires of Heaven (Wheel of Time, #5)
1930               Castle of Wizardry (The Belgariad, #4)
640            The Last Battle (Chronicles of Narnia, #7)
1430                                Redwall (Redwall, #1)
291     The Voyage of the Dawn Treader (Chronicles of ...
1128     The History of the Hobbit, Part One: Mr. Baggins
1127              Dragonflight (Dragonriders of Pern, #1)
297                                      The Time Machine
1355                     The Warded Man (Demon Cycle, #1)
4798                    The Ruby Knight (The Elenium, #2)
191     The Name of the Wind (The Kingkiller Chronicle...
509                    The Great Hunt (Wheel of Time, #2)
329              The Eye of the World (Wheel of Time, #1)
527                 The Dragon Reborn (Wheel of Time, #3)
164        A Feast for Crows (A Song of Ice and Fire, #4)
746                               Sabriel (Abhorsen,  #1)
3491              The Seeress of Kell (The Malloreon, #5)
Name: title, dtype: object

In [57]:
corpus_recommendations("Twilight (Twilight, #1)").head(50)

51                                 Eclipse (Twilight, #3)
48                                New Moon (Twilight, #2)
991                    The Twilight Saga (Twilight, #1-4)
833                         Midnight Sun (Twilight, #1.5)
731     The Short Second Life of Bree Tanner: An Eclip...
1618    The Twilight Saga Complete Collection  (Twilig...
4087    The Twilight Saga: The Official Illustrated Gu...
2020             The Twilight Collection (Twilight, #1-3)
72                                The Host (The Host, #1)
219     Twilight: The Complete Illustrated Movie Compa...
55                           Breaking Dawn (Twilight, #4)
3074    Twilight: The Graphic Novel, Vol. 1 (Twilight:...
1802    The Awakening / The Struggle (The Vampire Diar...
2393    The Fury / Dark Reunion (The Vampire Diaries, ...
418                   Blood Promise (Vampire Academy, #4)
383                       Frostbite (Vampire Academy, #2)
4820    Jessica's Guide to Dating on the Dark Side (Je...
1108    New Moon: The Complete Illustrated Movie Compa...
245                           Marked (House of Night, #1)
5244    Twilight: The Graphic Novel, Vol. 2  (Twilight...
953     Twilight Director's Notebook : The Story of Ho...
542                  Last Sacrifice (Vampire Academy, #6)
393                     Shadow Kiss (Vampire Academy, #3)
782                           Hunted (House of Night, #5)
3082      Nightfall (The Vampire Diaries: The Return, #1)
448                         Betrayed (House of Night, #2)
3472                    Dark Visions (Dark Visions, #1-3)
635     The Twilight Saga Breaking Dawn Part 1: The Of...
2133                            Evernight (Evernight, #1)
1539                         Masquerade (Blue Bloods, #2)
980                         Blue Bloods (Blue Bloods, #1)
2181               Night World, No. 1 (Night World, #1-3)
2592                            Stargazer (Evernight, #2)
417                    Spirit Bound (Vampire Academy, #5)
2704              The Awakening (The Vampire Diaries, #1)
5802            Dance with a Vampire (Vampire Kisses, #4)
6562                 Kissing Coffins (Vampire Kisses, #2)
6085                    Vampireville (Vampire Kisses, #3)
642                           Chosen (House of Night, #3)
3288                  Vampire Kisses (Vampire Kisses, #1)
3164                            Hourglass (Evernight, #3)
8195                 A Certain Slant of Light (Light, #1)
2683                        Shadowland (The Mediator, #1)
758                           Bloodlines (Bloodlines, #1)
4233                          Twilight (The Mediator, #6)
5321               The Struggle (The Vampire Diaries, #2)
4356                                  Blood and Chocolate
1608    Eclipse: The Complete Illustrated Movie Compan...
490                          Untamed (House of Night, #4)
3485    Shadow Souls (The Vampire Diaries: The Return,...
Name: title, dtype: object

In [55]:
corpus_recommendations("Romeo and Juliet").head(50)

352                                             Othello
769                                       Julius Caesar
124                                              Hamlet
153                                             Macbeth
247                           A Midsummer Night's Dream
838                              The Merchant of Venice
854                                       Twelfth Night
529                              Much Ado About Nothing
713                                           King Lear
772                             The Taming of the Shrew
3947                                            Henry V
3699                                        Richard III
7073      King Henry IV, Part 1 (Wars of the Roses, #2)
386                                        The Crucible
1665                              Shakespeare's Sonnets
7                                The Catcher in the Rye
714                                 Death of a Salesman
6529                                   Titus Andronicus
27                                    Lord of the Flies
1884                                     As You Like It
6691                               The Comedy of Errors
159                                  Great Expectations
7352                                Measure for Measure
31                                      Of Mice and Men
455                            A Streetcar Named Desire
530                                             Beowulf
645                                The Canterbury Tales
594                                    A Separate Peace
5539                               Antony and Cleopatra
554     Hamlet: Screenplay, Introduction And Film Diary
1565                                        Ethan Frome
300                                   Heart of Darkness
4                                      The Great Gatsby
781                                       The Awakening
57                   The Adventures of Huckleberry Finn
70                                         Frankenstein
137                                  The Scarlet Letter
426                     The Importance of Being Earnest
1453                                          Pygmalion
62                                    Wuthering Heights
82                                 A Tale of Two Cities
9                                   Pride and Prejudice
89                                        The Outsiders
6103                                       Daisy Miller
270                                Flowers for Algernon
203                                   A Christmas Carol
6416                                  The Winter's Tale
1583              Rosencrantz and Guildenstern Are Dead
1185                                The Glass Menagerie
3                                 To Kill a Mockingbird
Name: title, dtype: object